*.exe
*.dll
*.so
*.dylib
*.out
*.a
*.test

*.out

vendor/

.idea/
.vscode/
*.swp
*.swo
*.bak
*.bak1
*.bak2

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

*.log


Dockerfile.*
docker-compose.override.yml
*.env
